{% extends 'base.html.twig' %}

{% block title %}Stockage index{% endblock %}

{% block body %}
    <h1>Stockage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stockage in stockages %}
            <tr>
                <td>{{ stockage.id }}</td>
                <td>{{ stockage.name }}</td>
                <td>{{ stockage.adresse }}</td>
                <td>
                    <a href="{{ path('app_stockage_show', {'id': stockage.id}) }}">show</a>
                    <a href="{{ path('app_stockage_edit', {'id': stockage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_stockage_new') }}">Create new</a>
{% endblock %}
